---
type Props = {
  title: string;
  link: string;
  color: string;
};

const { title, link, color } = Astro.props;
---

<a
  href={link}
  class={`flex items-center gap-3 px-4 py-2 rounded-full max-w-40
  font-text font-medium text-neutral-100 transition-transform transform hover:scale-105`}
  style={`background-color: ${color};`}
>
  <slot name="iconLeft" />
  <span class="text-sm text-neutral-800">{title}</span>
  <slot name="iconRight" />
</a>
