---
const res = await fetch("https://api.api-ninjas.com/v1/quotes", {
  method: "GET",
  headers: {
    "Content-Type": "application/json",
    "X-API-Key": import.meta.env.API_NINJAS_KEY,
  },
});

const data = await res.json();
const quote = data[0].quote;
---

<p class="min-h-24 line-clamp-4 leading-6">{quote}</p>
