---
import BaseLayout from "../layouts/BaseLayout.astro";
import { AcademicCapIcon } from "@heroicons/react/24/outline";
---

<BaseLayout title="Inicio">
  <h1 class="text-primary-800 text-9xl font-text">Hola Mundo</h1>

  <AcademicCapIcon className="text-primary-800 size-24" />
</BaseLayout>
