---
import SkillBar from "./SkillBar.astro";
---

<!-- Sección de habilidades estilo RPG -->
<section class="">
  <div class="max-w-3xl mx-auto space-y-6">
    <!-- Skill Bar -->
    <SkillBar title="Dev Web" percentage={85} />
    <SkillBar title="Carisma" percentage={65} />
    <SkillBar title="Lógica" percentage={90} />
    <SkillBar title="Ingles" percentage={70} />
    <SkillBar title="Suerte" percentage={95} />
  </div>
</section>
